body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    align-items: stretch;
    padding: 20px 300px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

.header .text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header ul {
    font-size: 18px;
    color: #E5E7EB;
}